{{#link-to "journeys.show" journey}}
	<div class="journey-item">
		<img src={{journey.img}} width="300" height="300">
		<h3 class="bottom-text">{{journey.city}}</h3>	
		<p>{{journey.date}}</p>
	</div>
{{/link-to}}