<div>
	{{#each photos as |photo|}}
		<img class="photos" src={{photo.img}}>
	{{/each}}
	<button class="button-square" onclick="plusDivs(-1)">&#10094;</button>
	<button class="button-square" onclick="plusDivs(+1)">&#10095;</button>
</div>
