
/*
  1. Background and Body
  2. About Me
  3. Journeys
  4. Contact
  5. Common Themes
*/

/*Background and Body*/

body {
  margin: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  height: 100%;
  font-family: Lucida Sans Unicode;
  background: #67d3b8 rgba(230, 230, 230, 0.5); /* For browsers that do not support gradients */
  background: #67d3b8 -webkit-linear-gradient(rgba(38, 38, 38, 0.8), rgba(230, 230, 230, 0)); /* For Safari 5.1 to 6.0 */
  background: #67d3b8 -o-linear-gradient(rgba(38, 38, 38, 0.8), rgba(230, 230, 230, 0)); /* For Opera 11.1 to 12.0 */
  background: #67d3b8 -moz-linear-gradient(rgba(38, 38, 38, 0.8), rgba(230, 230, 230, 0)); /* For Firefox 3.6 to 15 */
  background: #67d3b8 linear-gradient(rgba(38, 38, 38, 0.8), rgba(230, 230, 230, 0)); /* Standard syntax */
  color: white;
}

.section {
  background: black;
  margin-top: 40px;
  padding: 40px;
  box-shadow: 0 0 5px black;
  box-sizing: border-box;
}

.left {
  width:50%;
  background-size: cover;
  height: 500px;
  display: inline-block;
}

.right {
  width:50%;
  height: 500px;
  float:right;
  padding: 30px;
  position: relative;
  top: 0px;
  overflow-y: auto;
}

.button {
  background: #174f41; 
  border-radius: 20px;
  height: 50px;
  color: black;
  border: none;
  font-weight: bold;
}

.button-square {
  background: #174f41; 
  height: 50px;
  color: black;
  border: none;
  font-weight: bold;
}

.button:hover{
  color: white;
  cursor: pointer;
}

.button-square:hover {
  color: white;
  cursor: pointer;
}

.button:focus {
  outline: none;
  border: 1px white;
}

.filter { 
  position: relative; 
}

.filter input { 
  text-indent: 30px;
}

.filter .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

.filter {
  margin-top: 15px;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  border: 1px black;
  color: black;
  padding-left: 15px;
}

.filter:focus {
  outline: none;
}

ul.grid {
  list-style: none;
  font-size: 0px;
  padding: 0px;
  text-align: center;
}

ul.grid li {
  display: inline-block;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 5px;
  height: 100%;
  text-align: left;
}

ul.grid li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.grid li h3 {
  margin: 0 0 5px;
}
ul.grid li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}

ul.grid.columns-2 li {
  width: 47.5%; 
}

ul.grid.columns-3 li {
  width: 30.83%; 
}

ul.grid.columns-4 li {
  width: 22.5%; 
}

@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.grid {
    margin-left: 0;
  }
  ul.grid li {
    width: 100% !important; 
    margin: 0 0 20px;
  }
}

ul.contact {
  list-style:none;
}

