<h1>Tales of a Travelling Mountaineer</h1>

<hr>

<h2>About Me</h2>

<div class="section">
	<div class="left" style="background-image: url('assets/img/Me.jpg');">
	</div>
	<div class="right">
		<h3>Rachel Tyras</h3>
		<p>I am 21 years old. I live in Munich, Germany. I moved here about 2 months ago from the east coast USA. I like to play rugby and do artsy things. Also, I like to travel, and that was the inspiration for this demo site, which I created with Ember.js. 
		<br>
		I'm looking for junior to mid level position in frontend development. I have been working on a professional development team for the last 5 years at NASA Independent Verification and Validation</p>
		<form method="get" action="assets/files/racheltyras-resume.pdf">
			<input class="button" type="submit" value="Check Out My Resume!">
		</form>
	</div>
</div>

<hr>

{{outlet}}

<hr>

<h2>Contact</h2>

<div class="section">
	<ul class="contact">
		<li>rachel@mljenkins.com</li>
		<li>+49 1633447019</li>
		<li>https://www.linkedin.com/in/rachel-tyras-b38b1466/</li>
	</ul>
</div>