<h1>Tales of a Travelling Mountaineer</h1>

<hr>

<h2>About Me</h2>

<div class="section">
	<div class="left" style="background-image: url('assets/img/Me.jpg');">
	</div>
	<div class="right">
		<h3>Rachel Tyras</h3>
		<p>Stuff about me...</p>
		<form method="get" action="assets/files/racheltyras-resume.pdf">
			<input class="button" type="submit" value="Check Out My Resume!">
		</form>
	</div>
</div>

<hr>

{{outlet}}

<hr>

<h2>Contact</h2>

<div class="section">
</div>